body{
    background-color: aliceblue;
}
.form-container{
    display: flex;
    margin:80px 550px;
}
.inputfield{
    height: 35px;
    width: 250px;
    display: block;
    margin: 0px auto;
    background-color: #00001a;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding-left: 8px;
}
.btn{
    display: block;
    margin: 0px auto;
    padding: 0px 20px;
    background-color: #4d79ff;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.heading{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.todo-container{
    width: 1250px;
    height: 55px;
    background-color: #00001a;
    color: white;
    margin: 0px auto;
    border-radius: 7px;
    position: relative;
}
.text{
    font-size: 23px;
    padding: 14px 20px;
}
.remove-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff3333;
    padding: 4px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn{
    position: absolute;
    top: 10px;
    right: 70px;
    background-color: #ff3333;
    padding: 4px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}